<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="browser" value="chrome"/>
    <add key="ApplicationUrl" value="https://demo.midtrans.com/"/>
    <add key="SuccessCardNumber" value="4811111111111114"/>
    <add key="FailedCardNumber" value="4811111111111113"/>
    <add key="ExpiryDate" value="02/21"/>
    <add key="CVV" value="123" />
    <add key="BankOTP" value="112233"/>
  </appSettings>
</configuration>